.about {
  height: 100%;
  width: 100%;
  background-color: var(--mantine-color-dark-7);
  color: var(--mantine-color-white);
}

/* .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;

  background: var(--mantine-color-dark-8);
} */