.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);

  @media (max-width: var(--mantine-breakpoint-xs)) {
    flex-direction: column;
  }
}

.links {
  display: flex;
  
  @media (max-width: var(--mantine-breakpoint-xs)) {
    margin-top: var(--mantine-spacing-md);
  }
}